/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    max-width: 1200px;
    border-radius: 5px;
}

.card-container {
    width: 65%;
    height: 85%;
    padding: 40px;
    background-color: #c0c0c0;
}

.icons-container {
    display: flex;
    flex-direction: row;
}

.icons-container img {
    width: 30px;
    margin: 15px;
}

.icon-seta {
    margin-left: auto;
}

.card-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.card-item img {
    width: 20%;
}

.card-text {
    flex-grow: 1;
}

.card-text p {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.card-text .size-color {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.card-detalhes{
    font-size: 14px;
    color: #333;
}
.total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 16px;
}

.checkout {
    width: 40%;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.checkout h2 {
    font-size: 22px;
    margin-bottom: 20px;
    padding: 20px;
}

.text-card {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 16px;
}

.text {
    font-size: 22px;
    padding: 60px;
}

.card-info {
    padding: 15px;
    border-radius: 10px;
    display: flex;
}



.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button-cancel {
    background-color: #ff6b6b;
    color: #fff;
}

.button-checkout {
    background-color: #4a90e2;
    color: #fff;
}